@model Daisy.Admin.Models.AlbumDetailViewModel
@{
    ViewBag.Title = "Album " + @Model.Album.Name;
}
<div class="spacer btn-group">
    <button id="btnPublish" data-request-url="@Url.Action("PublishPhotos", "Album")" class="btn btn-primary">Publish</button>
    <button id="btnUnpublish" data-request-url="@Url.Action("PublishPhotos", "Album")" class="btn btn-primary">Unpublish</button>
</div>
<hr />
<h2>@Model.Album.Name</h2>
@Html.HiddenFor(x => x.Album.Id, new { id = "albumId" })
<div>
    <input type="checkbox" id="chkSelectAll">&nbsp;Select all
</div>
<div id="gridPhotos">
    @foreach (var photo in @Model.Photos)
    {
        <div class="col-sm-6 col-md-6 col-lg-4" style="background-color:#101010;">
            <div class="album-thumbnail photo-list-album-view" style="background-image:url(@photo.MediumUrl)">
                @if (@photo.IsPublished)
                {
                    <img src="~/Administration/Images/symbol_check.png" alt="published" style="width:30px;float:right;" />
                }
            </div>            
            <div class="album-title">
                <input type="checkbox" value="@photo.Id">&nbsp;@photo.Id
            </div>
        </div>
    }
</div>
<div id="loader" class="overlay" style="display:none">
    <img class="loader" src="~/Administration/Images/loading.gif" />
</div>
@section scripts
{
    <script src="~/Administration/Scripts/Album/Album.js"></script>    
    <script src="~/Administration/Scripts/Album/AlbumDetail.js"></script>    
}






