@model Daisy.Admin.Models.PagedListAlbumViewModel
@{
    ViewBag.Title = "Albums";
}
<div class="spacer btn-group">
    <button id="btnPublish" data-request-url="@Url.Action("Publish", "Album")" class="btn btn-primary">Publish</button>
    <button id="btnUnpublish" data-request-url="@Url.Action("Publish", "Album")" class="btn btn-primary">Unpublish</button>
</div>
<hr />
<div class="spacer">
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(x => x.SearchOptions.AlbumName, new { @class = "control-label col-sm-1" })
            <div class="col-sm-3">
                @Html.TextBoxFor(x => x.SearchOptions.AlbumName, new { id = "txtAlbumName", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.SearchOptions.IsPublished, new { @class = "control-label col-sm-1" })
            <div class="col-sm-3">
                <select id="cboPublishStatus" class="form-control dropdown">
                    <option>All</option>
                    <option value="true">Published</option>
                    <option value="false">Unpublished</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-3">
                <button id="btnSearch" data-request-url="@Url.Action("Search", "Album")" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid spacer">
    <div class="form-inline">
        <div id="paging" class="form-group"></div>
        <div id="searchResultInfo" class="form-group" style="float:right;margin-top:20px;"></div>
    </div>
</div>
<div id="divSelectAll" class="container-fluid" style="display:none">
    <input type="checkbox" id="chkSelectAll" class="css-checkbox lrg" />
    <label for="chkSelectAll" class="css-label lrg klaus">Select all</label>
</div>
<div id="gridAlbums" class="container-fluid"></div>
<div id="loader" class="overlay" style="display:none">
    <img class="loader" src="~/Administration/Images/loading.gif" />
</div>

@section scripts
{
    <script src="~/Administration/Scripts/Common/common.js"></script>
    <script src="~/Administration/Scripts/Album/Album.js"></script>
    <script src="~/Administration/Scripts/Album/Main.js"></script>
    <script type="text/javascript">
        Common.Helper.applicationRoot = '@Url.Content("~")';
    </script>
}