@using Daisy.Web.Framework.Extentions
@model Daisy.Admin.Models.Blog

<div class="form-horizontal">
    @Html.HiddenFor(x => x.Id)
    <div class="form-group">
        @Html.LabelFor(x => x.Title, new { @class = "col-md-1" })
        <div class="col-md-5">
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control max-width" })
            @Html.ValidationMessageFor(x => x.Title)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.ImageUrl, new { @class = "col-md-1" })
        <div class="col-md-5">
            @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control max-width" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Highlight, new { @class = "col-md-1" })
        <div class="col-md-11 blog-width">
            @Html.TextAreaFor(x => x.Highlight, new { @id = "txtHighlight", @class = "blog-width form-control" })
            @Html.ValidationMessageFor(x => x.Highlight)
            <div id="textarea_feedback"></div>
        </div>        
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.IsPublished, new { @class = "col-md-1" })
        <div class="col-md-3">            
            @Html.CheckBoxFor(x => x.IsPublished, new { @id = "chkPublish", @class = "css-checkbox lrg" })
            <label for="chkPublish" class="css-label lrg klaus"></label>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Content, new { @class = "col-md-1" })
        <div class="col-md-11 blog-width">
            @Html.TextAreaFor(x => x.Content, new { @id = "txtContent", @class = "blog-width form-control mceEditor" })
            @Html.ValidationMessageFor(x => x.Content)
        </div>            
    </div>    
    <div class="form-group">
        <div class="col-md-offset-1 col-md-1">
            <input id="btnSubmit" type="submit" class="btn btn-primary" value="Save" />
        </div>
    </div>
</div>
@Html.RequireScript("/Administration/Scripts/common/common.js")
@Html.RequireScript("/Administration/Scripts/tinymce3/tiny_mce.js")
@Html.RequireScript("/Administration/Scripts/Blog/handletinymce.js")