@using Daisy.Web.Framework.Extensions
@model Daisy.Web.Models.Category

@section styles{
    <link rel="stylesheet" type="text/css" href="~/Content/fotorama/fotorama.css" />
}
<div id="freewall" class="free-wall">
    @for (var i = 0; i < Model.Photos.Count; i++)
    {
        <div class="brick light-shadow" data-index="@i" style="width:400px;">
            <img src="@Model.Photos[i].MediumUrl" alt="@Model.Photos[i].Name" width="100%" />
            <div class="icon_fullscreen"></div>       
        </div>
    }
</div>    
<div id="gridPhotosFullScreen" class="fotorama" data-allow-full-screen="native" data-nav="thumbs" data-keyboard="true">
    @foreach (var photo in @Model.Photos)
    {
        if (photo.Large1600Url == null)
        {
            <img src="@photo.LargeUrl" alt="@photo.Name" />
        }
        else
        {
            <img src="@photo.Large1600Url" alt="@photo.Name" data-full="@photo.Large2048Url" />
        }
    }
</div>

@section scripts{
    <script src="~/Scripts/fotorama/fotorama.min.js"></script>
    <script src="~/Scripts/freewall.js"></script>
    <script>
        $(document).ready(function () {
            var wall = new freewall("#freewall");
            wall.reset({
                selector: '.brick',
                animate: true,
                cellW: 400,
                cellH: 'auto',
                onResize: function () {
                    wall.fitWidth();
                }
            });
            wall.fitWidth();
            var images = wall.container.find('.brick');
            images.find('img').load(function () {
                wall.fitWidth();
            });

            $('#gridPhotosFullScreen').hide();

            $('.icon_fullscreen').click(function () {
                var index = $(this).parent('.brick').data('index');
                $('#gridPhotosFullScreen').show();

                var fotorama = $('.fotorama')
                  .data('fotorama');
                fotorama.show(index);
                fotorama.requestFullScreen();
            });

            $('.fotorama').on('fotorama:fullscreenexit', function (e, fotorama, extra) {
                $('#gridPhotosFullScreen').hide();
            });
        });
    </script>
}
