@model List<Daisy.Web.Models.Photo>
@{
    ViewBag.Title = "Home";
}
@section styles{
    @*<link rel="stylesheet" type="text/css" href="~/Content/flipbook/pictureflip.css" />*@
<link rel="stylesheet" type="text/css" href="~/Content/wowslider/style.css" />
}
<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <div id="carousel-example-generic" class="carousel shadow">
                    @*<!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                if (i == 0)
                                {
                                    <li data-target="#carousel-example-generic" data-slide-to="@i" class="active"></li>
                                }
                                else
                                {
                                    <li data-target="#carousel-example-generic" data-slide-to="@i"></li>
                                }
                            }
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                if (i == 0)
                                {
                                    <div class="item active">
                                        <img class="img-responsive img-full" src=@Model[i].LargeUrl alt="">
                                    </div>
                                }
                                else
                                {
                                    <div class="item">
                                        <img class="img-responsive img-full" src=@Model[i].LargeUrl alt="">
                                    </div>
                                }
                            }
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>*@
                    <!--wowslider-->
                    <div class="carousel-inner">
                        <div id="wowslider_engine"></div>
                        <div id="wowslider-container1">
                            <div class="ws_images">
                                <ul>
                                    @for (int i = 0; i < Model.Count(); i++)
                                    {
                                        <li><img src="@Model[i].Large2048Url" alt="" title="" /></li>
                                    }
                                </ul>
                            </div>
                            @*<div class="ws_bullets">
                                <div>
                                    @for (int i = 0; i < Model.Count(); i++)
                                    {
                                        <a href="#" title=""><span><img src="@Model[i].SmallUrl" alt="" />@i</span></a>
                                    }
                                </div>
                            </div>*@
                            <div class="ws_shadow"></div>
                        </div>
                    </div>

                    <!--flipbook-->
                    @*<div id="flipbook">
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            <div class="slide">
                                <img src="@Model[i].Large1600Url" alt="" />
                            </div>
                        }
                    </div>*@
                    
                </div>
                <h2 class="brand-before">
                    <small>Welcome to</small>
                </h2>
                <h1 class="brand-name">Daisy Studio</h1>
                <hr class="tagline-divider">
                <h2>
                    <small>
                        <span style="font-size:1.5em;font-family:'Lucida Sans'">&ldquo;</span>
                        <span class="daisy-font1">We can do no great things, only small things with great love</span>
                        <span style="font-size:1.5em;font-family:'Lucida Sans'">&rdquo;</span>
                    </small>
                </h2>
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    a website
                    <strong>worth visiting</strong>
                </h2>
                <hr>
                <img class="img-responsive img-border img-left" src="https://farm3.staticflickr.com/2818/9310694849_74c51d94f9.jpg" alt="">
                <hr class="visible-xs">
                <div class="text-justify">
                    <p>Daisy Studio luôn lắng nghe mọi yêu cầu của cô dâu chú rể. Những cảnh chụp độc đáo, góc ảnh sáng tạo sẽ mang đến cho các bạn một bộ ảnh như ý với những khung hình đẹp trong nhiều phong cảnh hữu tình đã được chọn lọc kỹ càng.</p>
                    <p>Ảnh của Daisy Studio luôn mang phong cách tự nhiên, ngay cả khi cô dâu chú rể tưởng rằng mình không thể diễn tả tình yêu trong khung hình thì hãy để Daisy sẽ làm điều đó theo cách tự nhiên nhất.</p>
                    <p>Daisy studio có thể đồng hành cùng bạn trên tất cả mọi chân trời mà bạn muốn đặt chân đến. Đặc biệt hơn cả cho cô dâu chú rể đó chính là chi phí cho chuyến đi thật vừa phải nhưng chất lượng luôn đặt hàng đầu.</p>
                    <p>Rất mong được tiếp đón các bạn tại Daisy Studio!</p>
                </div>
            </div>
        </div>
    </div>
    @*<div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Beautiful boxes
                    <strong>to showcase your content</strong>
                </h2>
                <hr>
                <p>Use as many boxes as you like, and put anything you want in them! They are great for just about anything, the sky's the limit!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
        </div>
    </div>*@
</div>
@section scripts{
    <script src="~/Scripts/wowslider/wowslider.js"></script>
    <script src="~/Scripts/wowslider/script.js"></script>
    <script>
        $('.carousel').carousel({
            interval: 4000 //changes the speed
        })
    </script>

@*<script src="~/Scripts/flipbook/jquery.pictureflip.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        debugger
        $('#flipbook').pageFlip({
            time: 1,
            shadow: true,
            slideTime: 0.2,
            autoRun: true,
            autoTime: 3
        });

    });
</script>*@
}
