@model List<Daisy.Web.Models.Photo>
@{
    ViewBag.Title = "Home Page";
}

<div id="gridPhotos" class="fotorama" data-allow-full-screen="native" data-nav="thumbs" data-keyboard="true" data-autoplay="true" data-transition="crossfade">
    @foreach (var photo in @Model)
    {
        if (photo.Large1600Url == null)
        {
            <img src="@photo.LargeUrl" alt="@photo.Name" />
        }
        else
        {
            <img src="@photo.Large1600Url" alt="@photo.Name" data-full="@photo.Large2048Url" />
        }
    }
</div>