@model List<Daisy.Web.Models.Photo>
@{
    ViewBag.Title = "Home Page";
}

@*<div id="gridPhotos" class="fotorama" data-allow-full-screen="native" data-nav="thumbs" data-keyboard="true" data-autoplay="true" data-transition="crossfade">
    @foreach (var photo in @Model)
    {
        if (photo.Large1600Url == null)
        {
            <img src="@photo.LargeUrl" alt="@photo.Name" />
        }
        else
        {
            <img src="@photo.Large1600Url" alt="@photo.Name" data-full="@photo.Large2048Url" />
        }
    }
</div>*@

<div>
    <div class="col-lg-4">
        <div class="photo-list-album-view height300" style="margin-bottom:30px; background-image:url(https://farm7.staticflickr.com/6231/6280439170_08cb6364bc_b.jpg)"></div>
        <div class="photo-list-album-view height100" style="margin-bottom:30px; background-image:url(https://farm7.staticflickr.com/6231/6280439170_08cb6364bc_b.jpg)"></div>
        <div class="photo-list-album-view height100" style="margin-bottom:30px; background-image:url(https://farm7.staticflickr.com/6229/6279944669_2b185c8468_b.jpg)"></div>
    </div>
    <div class="col-lg-4">
        <div class="photo-list-album-view height100" style="margin-bottom:30px; background-image:url(https://farm7.staticflickr.com/6228/6279949749_2bf3102dc6_b.jpg)"></div>
        <div class="photo-list-album-view height100" style="margin-bottom:30px; background-image:url(https://farm7.staticflickr.com/6231/6280474158_d934fdffd1_b.jpg)"></div>
        <div class="photo-list-album-view height300" style="margin-bottom:30px; background-image:url(https://farm7.staticflickr.com/6106/6279962847_77ce81cfb3_b.jpg)"></div>
    </div>
    <div class="col-lg-4">
        <div class="photo-list-album-view height300" style="margin-bottom:30px; background-image:url(https://farm7.staticflickr.com/6056/6280486024_30f6d01cc4_b.jpg)"></div>
        <div class="photo-list-album-view height100" style="margin-bottom:30px; background-image:url(https://farm7.staticflickr.com/6229/6285829809_6ea9a83252_b.jpg)"></div>
        <div class="photo-list-album-view height100" style="margin-bottom:30px; background-image:url(https://farm7.staticflickr.com/6222/6286356120_bc63a0df6f_b.jpg)"></div>
    </div>
</div>
<div class="container-fluid">    
    <p>
        Daisy studio chuyên cung cấp dịch vụ chụp ảnh cưới ngoại cảnh và trong studio, chụp ảnh gia đình và trẻ em ngoại cảnh và trong studio, chụp ảnh chân dung ngoại cảnh và trong studio.
    </p>
    <p>
        Ảnh của Daisy studio theo phong cách tự nhiên, mộc mạc và đầy cảm xúc. Bạn sẽ phải ngạc nhiên khi thấy mình đẹp hơn nhưng vẫn là chính bạn trong những bức ảnh rất có hồn và cực kỳ dung dị của Daisy studio.
    </p>
    <p>
        Daisy studio có studio tại tp Hồ Chí Minh nhưng có thể đi theo bạn đến mọi miền của đất nước để ghi lại những khoảnh khắc đẹp nhất của bạn bên người thân yêu: ngoài ảnh cưới tại tp HCM, Daisy studio còn chụp tại Bình Dương, Vũng Tàu, Hồ Cốc, Đà Lạt, Nha Trang, Đà Nẵng, Hội An, Côn Đảo, Phú Quốc, Hà Nội...
    </p>
    <p>
        Rất mong được đón tiếp các bạn tại Daisy studio
    </p>
    <p>
        Wedding Photography in Vietnam
    </p>
    <p>
        Daisy studio Photography specializes in wedding photography, family and kids photos, and individual and couple portraits. Many of our clients are overseas Vietnamese or mixed couples who appreciate the upscale, western-styled design of our wedding photos and albums. Shoots are usually set in unique locations in Saigon (Ho Chi Minh City), Da Lat, Ho Coc, Nha Trang, Hoi An, and elsewhere around Vietnam. Our studio is located in Saigon (Ho Chi Minh City), Vietnam.
    </p>
</div>