<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Daisy Studio</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="daisy-header">
        <img class="daisy-header" src="https://farm6.staticflickr.com/5344/coverphoto/18555104@N00_h.jpg" />
    </div>
    <div class="navbar">
        <div class="navbar-header">
            <div class="navbar-inverse">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="background-color:#333">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav links">
                <li class="link">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="link">@Html.ActionLink("Albums", "Index", "Album")</li>
                <li class="link">@Html.ActionLink("Báo giá", "Quote", "Home")</li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        @RenderBody()
        <hr />
    </div>
    <div class="container-fluid">
        <footer>
            <p>&copy; @DateTime.Now.Year - Daisy studio</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
