@using Daisy.Web.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Daisy Studio</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="The description of my page" />    
</head>
<body @*background="~/Images/bg.png"*@>
    <div class="daisy-header">
        <div class="daisy-logo">
            <img src="~/Images/logo.gif" alt="logo" />
        </div>
        <div class="social">
            <ul>
                <li><a href="https://www.facebook.com/daisystudio.vn"><i class="fa fa-lg fa-facebook"></i></a></li>
                <li><a href="https://www.flickr.com/photos/18555104@N00/"><i class="fa fa-lg fa-flickr"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="navbar">
        <div class="navbar-header">
            <div class="navbar-inverse">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="background-color:#333">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <div class="navbar-collapse collapse daisy-top-menu">
            <ul class="nav navbar-nav">
                <li class="@Html.ActivePage("Home", "Index")">@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                <li class="@Html.ActivePage("Album", "Index")">@Html.ActionLink("Albums", "Index", "Album")</li>
                <li>@Html.ActionLink("Báo giá", "Quote", "Home")</li>
                <li class="@Html.ActivePage("Home", "Blog")">@Html.ActionLink("Blogs", "Blog", "Home")</li>
                <li class="@Html.ActivePage("Home", "Contact")">@Html.ActionLink("Liên hệ", "Contact", "Home")</li>
            </ul>
        </div>
    </div>
    <div class="">
        @RenderBody()        
    </div>
    <div class="container-fluid">
        <hr />
        <footer class="daisy-footer">
            <div style="float:right">
                <p>Daisy studio &copy; @DateTime.Now.Year All Rights Reserved</p>
            </div>            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
